.header .h1 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  height: 15vh;
  margin-top: 20px;
}

.color-change-2x:hover {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea
  }

  100% {
    background: #b22cff
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea
  }

  100% {
    background: #b22cff
  }
}

.main {
  height: 85vh;
}

li {
  -webkit-backdrop-filter: blur(8.5px);
  backdrop-filter: blur(8.5px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 30px 0;
  padding: 5px;
}

li:hover {
  cursor: pointer;
}

li a {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px 2px;
  text-decoration: none;
  width: max-content;
}