.h1 {
  font-size: 2em;
  height: 15vh;
  margin-bottom: 50px;
  margin-top: 50px;
}

.choices-list {
  height: 85vh;
}

.choices-list li {
  font-size: 1.2em;
  margin: 50px 0;
  text-decoration: underline;
}

.vote-again {
  align-items: center;
  border-radius: 6px;
  border: 2px solid white;
  color: white;
  display: flex;
  height: 20vh;
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
}

.vote-again:hover {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: white;
    color: #4b6cb7;
  }

  100% {
    background: #4b6cb7;
    color: white;
  }
}

@keyframes color-change-2x {
  0% {
    background: #4b6cb7;
    color: white;
  }

  100% {
    background: white;
    color: #4b6cb7;
  }
}