@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;400;700&display=swap');

body {
  align-items: center;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Arima', cursive;
  height: 100vh;
}

.footer {
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: space-evenly;
  width: 100vw;
}

.footer a {
  color: white;
  font-weight: 200;
  text-decoration: none;
}