{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'polls/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
    <link rel="stylesheet" href="{% static 'polls/detail.css' %}" />
    <title>{{ question.question_text }}</title>
  </head>
  <body>
    <form
      action="{% url 'polls:vote' question.id %}"
      class="form"
      method="post"
    >
      {% csrf_token %}
      <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <ul class="choices-list">
          {% for choice in question.choice_set.all %}
          <div class="input-choice">
            <input
              id="choice{{ forloop.counter }}"
              name="choice"
              type="radio"
              value="{{ choice.id }}"
            />
            <label for="choice{{forloop.counter}}">
              {{ choice.choice_text }}
            </label>
          </div>
          {% endfor %}
        </ul>
      </fieldset>
      <button class="submit-button" type="submit">Votar</button>
    </form>
  </body>
</html>
